/BCServer.class
/BCClientHandler.class
/BCServer$BCClientHandler.class
/Queries.class
/Book.class
/Bookworm.class
/Comment.class
/GuestUserView$1.class
/GuestUserView.class
/Meeting.class
/Room.class
/User.class
